*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;

    background:
    radial-gradient(circle at top,#2b4b8f 0%,transparent 45%),
    linear-gradient(160deg,#24365f,#1b2c52,#162544);
}

.background{
    position:fixed;
    inset:0;
    background-image:
    radial-gradient(circle at 20% 20%,rgba(255,255,255,.06) 0,transparent 250px),
    radial-gradient(circle at 80% 80%,rgba(255,255,255,.05) 0,transparent 250px);
    pointer-events:none;
}

.card{
    width:380px;
    max-width:90%;
    position:relative;
    z-index:2;
    text-align:center;
}

.foto{
    width:260px;
    height:260px;

    object-fit:cover;
    object-position:center 35%;
    transform:scale(1.15);

    border-radius:50%;
    border:5px solid #d7b35d;

    margin:0 auto 25px;
    display:block;
}

h1{
    color:white;
    font-size:56px;
    margin-bottom:8px;
}

.descricao{
    color:#d9d9d9;
    font-size:24px;
    margin-bottom:35px;
}

.botao{
    display:block;
    width:100%;
    padding:18px;
    margin-bottom:16px;

    border:none;
    border-radius:14px;

    text-decoration:none;
    color:white;
    font-size:22px;
    font-weight:bold;

    cursor:pointer;
}

.whatsapp{
    background:#36d66b;
}

.email{
    background:#18a7ff;
}

.competencias{
    background:#cda14c;
}

#modal{
    display:none;
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.75);
    justify-content:center;
    align-items:center;
    z-index:999;
}

.janela{
    width:90%;
    max-width:650px;
    background:white;
    border-radius:18px;
    padding:35px;
}

.janela h2{
    margin-bottom:25px;
}

.janela ul{
    padding-left:22px;
}

.janela li{
    margin-bottom:18px;
    font-size:20px;
}

#fecharModal{
    margin-top:20px;
    padding:14px 28px;
    border:none;
    border-radius:10px;
    background:#24365f;
    color:white;
    font-size:18px;
    cursor:pointer;
}
